.cabeçalho_menu-hamburguer {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: var(--branco);
    align-items: center;
    position: relative;
}

.container {
    display: flex;
}
 
.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
}

.container_botao:checked.lista-menu {
    display: block;
}